.projectImg {
  width: 75%;

}
.project-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.repo-container {
  display: flex;
  justify-content: space-evenly;
}