header {
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  box-shadow: 2px 3px 2px #121212;
}
.opening {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#nav-ul {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.span-p {
  display: inline-block;
  position: relative;
  -webkit-animation: slideInFromLeft 1s ease-in 0s 1;
  animation: slideInFromLeft 1s ease-in 0s 1;
  /* color: rgba(255,255,255, 75%); */
}
.span-p>p {
  margin: 0;
}
.temp {
  width: max-content;
  margin: auto;
  -webkit-animation: slideInFromRight 1s ease-in 0s 1;
  animation: slideInFromRight 1s ease-in 0s 1;
}
.temperature {
  margin-top: 0;
  margin-bottom: 10px;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 25%;
    transform: translateX(-300%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 25%;
    transform: translateX(300%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}