#fishLips {
  width: 75%;
  height: 75%;
}
img {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 3px 5px 2px 2px #121212;
}
.img {
  display: flex;
  padding: 10px 0px;
}