.form-group {
  display: flex;
  flex-direction: column;

}
#submit {
  position: relative;
  bottom: -25px;
}
form {
  display: flex;
  flex-direction: column;

}
#contact {
  text-align:center;
}
.orderedList {
  width: fit-content;

}
ol {
  width: 50%;
  margin: auto;
}